.calibre {
    background: url(images/00001.jpeg) center center no-repeat;
    background-size: 100%;
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    background: url(images/00004.jpeg) center center no-repeat;
    background-size: 100%;
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre3 {
    display: block;
    font-family: "DK-XIAOBIAOSONG", "st", "songti", "方正小标宋";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    width: 1.5em;
    margin: 45% 0 0 10%;
    padding: 0.2em
    }
.calibre4 {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre5 {
    display: block;
    font-family: "DK-XIAOBIAOSONG", "st", "songti", "方正小标宋";
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.8;
    text-align: center;
    text-indent: 0;
    margin: 5em 0 3.5em
    }
.calibre6 {
    height: auto;
    width: auto
    }
.calibre7 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    color: black;
    text-decoration: none
    }
.calibre10 {
    display: block;
    margin: 1em 0
    }
.center {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.center1 {
    display: block;
    font-size: 0.83333em;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.copyright {
    display: block;
    duokan-text-indent: 0;
    font-family: "DK-KAITI", "kt", "kaiti", "楷体";
    font-size: 0.83333em;
    padding-left: 0.6em;
    text-align: left;
    text-indent: 0;
    margin: 0.3em
    }
.cp {
    display: block;
    duokan-text-indent: 0;
    font-family: "DK-XIAOBIAOSONG", "st", "songti", "方正小标宋";
    font-size: 1.29167em;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    word-break: break-all;
    margin: 1em auto
    }
.duokan-footnote {
    color: black;
    height: auto;
    line-height: 1.2;
    text-decoration: none;
    border: currentColor none 0
    }
.duokan-footnote-content {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.duokan-footnote-item {
    display: list-item;
    list-style-type: none;
    text-decoration: none
    }
.duokan-image-single {
    display: block;
    duokan-text-indent: 0;
    text-align: center;
    text-indent: 0;
    margin: 10% 0 1.5em
    }
.exs {
    cursor: pointer;
    height: auto;
    line-height: 1.2;
    vertical-align: super;
    width: 0.8em
    }
.fn {
    display: block;
    font-family: "DK-FANGSONG", "fs", "kt", "仿宋";
    font-size: 0.83333em;
    line-height: 1.6;
    text-indent: -1em;
    margin: 0
    }
.kt {
    display: block;
    duokan-text-indent: 2em;
    font-family: "kt", sans-serif;
    font-size: 0.83333em;
    line-height: 130%;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0
    }
.kt1 {
    display: block;
    duokan-text-indent: 2em;
    font-family: "kt", sans-serif;
    font-size: 0.83333em;
    line-height: 130%;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0
    }
.kt2 {
    duokan-text-indent: 2em;
    font-family: "kt", sans-serif;
    font-size: 0.83333em;
    line-height: 130%;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph
    }
.normal {
    display: block;
    duokan-text-indent: 2em;
    font-size: 1em;
    line-height: 130%;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0
    }
.xian {
    color: "#";
    display: block;
    duokan-text-align: left;
    height: 1px;
    size: "1px";
    text-align: left;
    width: 60%;
    margin: 1.5em 0 1.5em -0.5em;
    border-top: gray solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px
    }
.xx {
    display: block;
    font-size: 1em;
    width: 17em;
    padding: 1em 0.5em;
    border: currentColor solid 2px
    }
.yy {
    background: #fff;
    display: block;
    font-size: 1em;
    width: 17em;
    margin: 30% auto 0;
    padding: 0.5em
    }
